.buttons {
    justify-content: space-between;
    margin: 30px auto 20px auto;
    width: 90%;
}

.buttons button {
    width: 25%;
    height: 54px;
    border-radius: 100px;
    background: #0085FF;
    transition: 0.3s;
    font-size: 20px;
    border: none;
    color: white;
}

.buttons button:hover {
    background-color: #59AFFF;
}