* {
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.App {
  flex-direction: column;
  width: 100%;
}

.section {
  height: 90px;
  flex-direction: column;
  background: #0085FF;
  align-items: center;
  color: white;
  width: 100%;
}

.logo {
  font-size: 42px;
  margin: 20px 0;
}

button {
  cursor: pointer;
}